# About
**This file is created as a team effort to clean the dataset for the team's use.**

Each file is extracted into 1 dataframe each. Below is the explanation

**Indicators**
- df20 -> simd2020_withinds.xlsx
- df16 -> simd 2016 indicator data.xlsx

**Geographic Data**
- df20_DZ -> datazone2020.xlsx
- df20_PC -> postcode2020.xlsx
- df20_PCDZ -> merged from df20_PC and df20_DZ

**Indicator Merged from df20 and df16**
- m_df20 -> merged from df20 and df20_PCDZ
- m_df16 -> merged from df16 and df20_PCDZ

**Merged 2016 and 2020**
- m_df -> merged from m_df16 and m_df20

# 2020 INDICATOR

In [1]:
# import library
import pandas as pd

In [4]:
#this code gets the certain sheet we want to upload.
#this specific file already filtered council area to only show 'City of Edinburgh' council area only
sheet='Edinburgh'
df20 = pd.read_excel('simd2020_withinds.xlsx',
                   sheet_name=sheet)
df20.head()

,Data_Zone,Intermediate_Zone,Council_area,Total_population,Working_Age_population,SIMD2020v2_Rank,SIMD_2020v2_Percentile,SIMD2020v2_Vigintile,SIMD2020v2_Decile,SIMD2020v2_Quintile,...,drive_petrol,drive_GP,drive_post,drive_primary,drive_retail,drive_secondary,PT_GP,PT_post,PT_retail,broadband
0,S01008417,Balerno and Bonnington Village,City of Edinburgh,708,397,5537,80,16,8,4,...,3.147979,7.470992,3.602979,5.257358,3.522979,4.135769,22.373316,16.205441,16.552056,0.152597
1,S01008418,Balerno and Bonnington Village,City of Edinburgh,691,378,6119,88,18,9,5,...,3.582608,7.658158,4.036864,3.559743,3.956525,4.767980,17.633049,12.754447,13.100199,0.074194
2,S01008419,Balerno and Bonnington Village,City of Edinburgh,541,338,5200,75,15,8,4,...,2.436124,6.391605,2.890733,3.023231,2.810733,3.161976,18.665124,13.401943,13.749981,0.000000
3,S01008420,Balerno and Bonnington Village,City of Edinburgh,466,274,6431,93,19,10,5,...,2.318151,6.596964,3.007096,2.155458,2.926565,3.369638,16.614664,10.839664,11.187521,0.000000
4,S01008421,Balerno and Bonnington Village,City of Edinburgh,884,537,3441,50,10,5,3,...,1.305804,6.020373,2.037905,2.588223,1.959213,2.917302,16.158549,6.965932,7.310676,0.000000

In [5]:
# check number of column
df20.shape[0]

597

In [7]:
# check column with asterix
columns_with_asterix = df20.columns[(df20 == '*').any()]
# check column with '%' sign
columns_with_percent = df20.columns[(df20 == '%').any()]

# Print the columns with at least one 0
print("Columns with at least one '*':", columns_with_asterix)
print("Columns with at least one '%':", columns_with_percent)

Columns with at least one '*': Index(['Attendance', 'Attainment', 'crime_count', 'crime_rate'], dtype='object')
Columns with at least one '%': Index([], dtype='object')

In [8]:
# remove 0
df20 = df20.replace('*', '')
# remove % sign
df20 = df20.replace('%', '')
# capitalize column
df20.columns = [column.upper() for column in df20.columns]
# change name of column
column_name_mapping20 = {
  'DATA_ZONE':'DZ',
  'SIMD2020V2_DECILE':'DECILE_RANK',
  'SIMD2020V2_QUINTILE':'QUINTILE_RANK',
  'SIMD2020V2_RANK':'OVERALL_RANK',
  'SIMD2020_HEALTH_DOMAIN_RANK':'HEALTH_DOMAIN_RANK',
  'SIMD2020_EDUCATION_DOMAIN_RANK':'EDUCATION_DOMAIN_RANK',
  'SIMD2020_ACCESS_DOMAIN_RANK':'ACCESS_DOMAIN_RANK',

  'SIMD2020_HOUSING_DOMAIN_RANK':'HOUSING_DOMAIN_RANK',
  'SIMD2020V2_VIGINTILE':'VIGINTILE_RANK',

  'SIMD2020V2_INCOME_DOMAIN_RANK':'INCOME_DOMAIN_RANK',
  'SIMD_2020V2_PERCENTILE':'PERCENTILE',

  'SIMD2020_CRIME_DOMAIN_RANK':'CRIME_DOMAIN_RANK',

  'SIMD2020_EMPLOYMENT_DOMAIN_RANK':'EMPLOYMENT_DOMAIN_RANK'
}

# Use the rename method to update column names
df20.rename(columns=column_name_mapping20, inplace=True)

In [ ]:
# check datatype
df20.dtypes

DZ                         object
INTERMEDIATE_ZONE          object
COUNCIL_AREA               object
TOTAL_POPULATION            int64
WORKING_AGE_POPULATION      int64
OVERALL_RANK                int64
PERCENTILE                  int64
VIGINTILE_RANK              int64
DECILE_RANK                 int64
QUINTILE_RANK               int64
INCOME_DOMAIN_RANK        float64
EMPLOYMENT_DOMAIN_RANK    float64
HEALTH_DOMAIN_RANK          int64
EDUCATION_DOMAIN_RANK       int64
ACCESS_DOMAIN_RANK          int64
CRIME_DOMAIN_RANK         float64
HOUSING_DOMAIN_RANK       float64
INCOME_RATE               float64
INCOME_COUNT                int64
EMPLOYMENT_RATE           float64
EMPLOYMENT_COUNT            int64
CIF                         int64
ALCOHOL                   float64
DRUG                      float64
SMR                       float64
DEPRESS                   float64
LBWT                      float64
EMERG                     float64
ATTENDANCE                 object
ATTAINMENT                 object
NO_QUALIFICATIONS         float64
NOT_PARTICIPATING         float64
UNIVERSITY                float64
CRIME_COUNT                object
CRIME_RATE                 object
OVERCROWDED_COUNT           int64
NOCENTRALHEATING_COUNT      int64
OVERCROWDED_RATE          float64
NOCENTRALHEATING_RATE     float64
DRIVE_PETROL              float64
DRIVE_GP                  float64
DRIVE_POST                float64
DRIVE_PRIMARY             float64
DRIVE_RETAIL              float64
DRIVE_SECONDARY           float64
PT_GP                     float64
PT_POST                   float64
PT_RETAIL                 float64
BROADBAND                 float64
dtype: object

In [16]:
# check if data has 0 value.
columns_with_zeros = df20.columns[(df20 == 0).any()]

# Print the columns with at least one 0
print("Columns with at least one 0:", columns_with_zeros)

Columns with at least one 0: Index(['INCOME_RATE', 'INCOME_COUNT', 'EMPLOYMENT_RATE', 'ALCOHOL', 'DRUG',
       'LBWT', 'NOT_PARTICIPATING', 'UNIVERSITY', 'OVERCROWDED_COUNT',
       'NOCENTRALHEATING_COUNT', 'OVERCROWDED_RATE', 'NOCENTRALHEATING_RATE',
       'BROADBAND'],
      dtype='object')

The data for 2020 is cleaned and checked. The datatypes are correct and ready to use.

# 2016 INDICATORS

In [11]:
# import data
sheet='Data'
df16 = pd.read_excel('simd 2016 indicator data.xlsx',
                   sheet_name=sheet)

In [12]:
# check asterix
columns_with_asterix = df16.columns[(df16 == '*').any()]
# check column with '%' sign
columns_with_percent = df16.columns[(df16 == '%').any()]

# Print the columns with at least one 0
print("Columns with at least one '*':", columns_with_asterix)
print("Columns with at least one '%':", columns_with_percent)

Columns with at least one '*': Index(['CIF', 'DEPRESS', 'LBWT', 'Attainment', 'HESA', 'crime_count',
       'crime_rate'],
      dtype='object')
Columns with at least one '%': Index([], dtype='object')

In [13]:

# remove 0
df16 = df16.replace('*', '')
# remove % sign
df16 = df16.replace('%', '')
# capitalize column
df16.columns = [column.upper() for column in df16.columns]
# change column name 2016
column_name_mapping16 = {
  'DATA_ZONE':'DZ',
  'NOCENTRALHEAT_RATE':'NOCENTRALHEATING_RATE',
  'NOQUALS':'NO_QUALIFICATIONS',
  'WORKING_AGE_POPULATION_REVISED':'WORKING_AGE_POPULATION',
  'DRIVE_PO':'DRIVE_POST',
  'NEET':'NOT_PARTICIPATING',
  'NOCENTRALHEAT_COUNT':'NOCENTRALHEATING_COUNT',
  'HESA':'UNIVERSITY',
  'OVERALL_SIMD16_RANK':'OVERALL_RANK'
}

# Use the rename method to update column names
df16.rename(columns=column_name_mapping16, inplace=True)

In [14]:
# filter to only show data where council area equals to Edinburgh
df16=df16[df16['COUNCIL_AREA']=='City of Edinburgh']

In [ ]:
# check number of column of df16
df16.shape[0]

597

In [ ]:
# check datatype for df16
df16.dtypes

DZ                         object
INTERMEDIATE_ZONE          object
COUNCIL_AREA               object
TOTAL_POPULATION            int64
WORKING_AGE_POPULATION      int64
INCOME_RATE               float64
INCOME_COUNT                int64
EMPLOYMENT_RATE           float64
EMPLOYMENT_COUNT            int64
CIF                        object
ALCOHOL                   float64
DRUG                      float64
SMR                         int64
DEPRESS                    object
LBWT                       object
EMERG                     float64
ATTENDANCE                float64
ATTAINMENT                 object
NO_QUALIFICATIONS         float64
NOT_PARTICIPATING         float64
UNIVERSITY                 object
DRIVE_PETROL              float64
DRIVE_GP                  float64
DRIVE_POST                float64
DRIVE_PRIMARY             float64
DRIVE_RETAIL              float64
DRIVE_SECONDARY           float64
PT_GP                     float64
PT_POST                   float64
PT_RETAIL                 float64
CRIME_COUNT                object
CRIME_RATE                 object
OVERCROWDED_COUNT           int64
NOCENTRALHEATING_COUNT      int64
OVERCROWDED_RATE          float64
NOCENTRALHEATING_RATE     float64
dtype: object

In [15]:
# check if data has 0 value.
columns_with_zeros = df16.columns[(df16 == 0).any()]

# Print the columns with at least one 0
print("Columns with at least one 0:", columns_with_zeros)

Columns with at least one 0: Index(['INCOME_RATE', 'INCOME_COUNT', 'EMPLOYMENT_RATE', 'ALCOHOL', 'DRUG',
       'LBWT', 'NOT_PARTICIPATING', 'UNIVERSITY', 'OVERCROWDED_COUNT',
       'NOCENTRALHEATING_COUNT', 'OVERCROWDED_RATE', 'NOCENTRALHEATING_RATE'],
      dtype='object')

In [20]:

# change column name 2016
column_name_mapping16 = {
  'DZname':'INTERMEDIATE_ZONE',
}

# Use the rename method to update column names
df20_DZ.rename(columns=column_name_mapping16, inplace=True)

The 2016 indicator data is ready to use.

# 2020 DATAZONE
Since both 2016 and 2020 indicator file does not have a detailed information on the sub areas of Edinburgh, and that both columns for 2020 and 2016 are the same and have the same datazone IDs, we can use the 2020 Datazone to merge the information we need on the sub areas of Edinburgh.

In [17]:
# get data for 2020 datazone
sheet='SIMD 2020v2 DZ lookup data'
df20_DZ = pd.read_excel('datazone2020.xlsx',
                   sheet_name=sheet)
df20_DZ.head()

,DZ,DZname,SIMD2020v2_Rank,SIMD2020v2_Vigintile,SIMD2020v2_Decile,SIMD2020v2_Quintile,SIMD2020v2_Income_Domain_Rank,SIMD2020_Employment_Domain_Rank,SIMD2020_Education_Domain_Rank,SIMD2020_Health_Domain_Rank,...,IZcode,IZname,LAcode,LAname,HBcode,HBname,MMWcode,MMWname,SPCcode,SPCname
0,S01006506,Culter - 01,4691,14,7,4,3936.0,3220.0,5887,5174,...,S02001236,Culter,S12000033,Aberdeen City,S08000020,Grampian,S13002843,Lower Deeside,S16000076,Aberdeen South and North Kincardine
1,S01006507,Culter - 02,4862,14,7,4,4829.0,4481.0,4384,5051,...,S02001236,Culter,S12000033,Aberdeen City,S08000020,Grampian,S13002843,Lower Deeside,S16000076,Aberdeen South and North Kincardine
2,S01006508,Culter - 03,5686,17,9,5,4460.0,5110.0,5915,5942,...,S02001236,Culter,S12000033,Aberdeen City,S08000020,Grampian,S13002843,Lower Deeside,S16000076,Aberdeen South and North Kincardine
3,S01006509,Culter - 04,4332,13,7,4,3481.0,3229.0,6401,3871,...,S02001236,Culter,S12000033,Aberdeen City,S08000020,Grampian,S13002843,Lower Deeside,S16000076,Aberdeen South and North Kincardine
4,S01006510,Culter - 05,3913,12,6,3,3344.0,3448.0,4092,3049,...,S02001236,Culter,S12000033,Aberdeen City,S08000020,Grampian,S13002843,Lower Deeside,S16000076,Aberdeen South and North Kincardine

In [18]:
# filter for Edinburgh
df20_DZ = df20_DZ[df20_DZ['LAname']=='City of Edinburgh']
# calculate number of rows of dataframe
df20_DZ.shape[0]

597

In [21]:
# reset index
df20_DZ = df20_DZ.reset_index(drop=True)

In [22]:
columns_with_zeros = df20.columns[(df20 == 0).any()]
df20_DZ.columns = [column.upper() for column in df20_DZ.columns]

# Print the columns with at least one 0
print("Columns with at least one 0:", columns_with_zeros)

Columns with at least one 0: Index(['INCOME_RATE', 'INCOME_COUNT', 'EMPLOYMENT_RATE', 'ALCOHOL', 'DRUG',
       'LBWT', 'NOT_PARTICIPATING', 'UNIVERSITY', 'OVERCROWDED_COUNT',
       'NOCENTRALHEATING_COUNT', 'OVERCROWDED_RATE', 'NOCENTRALHEATING_RATE',
       'BROADBAND'],
      dtype='object')

# add sub area details into 2016 and 2020 indicators

In [31]:
# merge 2016 indicators with 2020 datazone
m_df16 = pd.merge(df16,df20_DZ[['DZ','SPCNAME']], on=['DZ'], how='left')

m_df16.shape[0]

597

In [28]:
# merge 2020 indicators with 2020 datazone
m_df20 = pd.merge(df20,df20_DZ[['DZ','SPCNAME']], on=['DZ'], how='left')

In [37]:
# assert not m_df20.empty, "DataFrame is empty"
assert not m_df16.empty, "DataFrame is empty"
assert not df20.empty, "DataFrame is empty"
assert not df16.empty, "DataFrame is empty"
# assert not df20_PCDZ.empty, "DataFrame is empty"
assert not df20_DZ.empty, "DataFrame is empty"
assert not df20_PC.empty, "DataFrame is empty"

# Concat Both 2016 and 2020


1.   CONCAT
2.   CHECK IF DATA IS CORRECT

In [32]:
# add a column with the 'year' of data to later merge both dataframes.
m_df16['YEAR']= 2016
m_df20['YEAR']= 2020

In [38]:
# concat 2016 and 2020 into 1 dataframe
m_df= pd.concat([m_df16, m_df20])

2020 has more columns than 2016. So when it is merged, it adds up to 64 column in total, with 28 columns added.

each have 19311 rows, if total, it will be 38622, the same amount as the one merged.

In [34]:
columns_with_zeros = m_df.columns[(m_df == 0).any()]

# Print the columns with at least one 0
print("Columns with at least one 0:", columns_with_zeros)

Columns with at least one 0: Index(['INCOME_RATE', 'INCOME_COUNT', 'EMPLOYMENT_RATE', 'ALCOHOL', 'DRUG',
       'LBWT', 'NOT_PARTICIPATING', 'UNIVERSITY', 'OVERCROWDED_COUNT',
       'NOCENTRALHEATING_COUNT', 'OVERCROWDED_RATE', 'NOCENTRALHEATING_RATE',
       'BROADBAND'],
      dtype='object')

We see that there are some datas in some columns with a 0.

In [ ]:
# Code to check if theres an empty column
columns_with_emp = m_df.columns[(m_df == '').any()]

# Print the columns with at least one 0
print("Columns that have empty('') value:", columns_with_emp)

Columns that have empty('') value: Index(['ATTENDANCE', 'ATTAINMENT', 'CRIME_COUNT', 'CRIME_RATE'], dtype='object')

We see that there are missing datas on 4 columns. This is because the data either is unavailable or inconclusive.

In [35]:
m_df.describe()

,TOTAL_POPULATION,WORKING_AGE_POPULATION,INCOME_RATE,INCOME_COUNT,EMPLOYMENT_RATE,EMPLOYMENT_COUNT,ALCOHOL,DRUG,SMR,EMERG,...,DECILE_RANK,QUINTILE_RANK,INCOME_DOMAIN_RANK,EMPLOYMENT_DOMAIN_RANK,HEALTH_DOMAIN_RANK,EDUCATION_DOMAIN_RANK,ACCESS_DOMAIN_RANK,CRIME_DOMAIN_RANK,HOUSING_DOMAIN_RANK,BROADBAND
count,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,...,597.000000,597.000000,597.000000,597.000000,597.000000,597.000000,597.000000,597.000000,597.000000,597.000000
mean,842.453936,585.755444,0.091667,75.796482,0.075804,43.262144,87.089255,98.947995,95.033656,80.360345,...,6.939698,3.666667,4371.351759,4502.532663,4587.452261,4289.541039,4513.097152,2888.760469,2687.542714,0.013476
std,247.606981,227.994236,0.088593,73.697642,0.071845,40.865828,84.063802,140.084405,54.093786,29.943385,...,3.005540,1.447439,2037.421411,2050.002744,2055.824312,2247.377007,1736.945035,1736.703108,2252.432596,0.044275
min,258.000000,188.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,9.000000,29.717474,...,1.000000,1.000000,34.000000,10.000000,25.000000,35.000000,599.000000,6.000000,2.000000,0.000000
25%,699.250000,460.000000,0.030000,20.000000,0.020000,14.000000,27.718833,0.000000,62.917006,57.833182,...,4.000000,2.000000,2799.000000,3010.000000,2956.000000,2224.000000,3111.000000,1429.000000,676.000000,0.000000
50%,825.000000,547.000000,0.060000,50.000000,0.050000,28.000000,61.522965,44.551970,83.844050,71.505885,...,8.000000,4.000000,4718.000000,4977.000000,5233.000000,4812.000000,4707.000000,2835.000000,2003.000000,0.000000
75%,950.750000,659.750000,0.130000,110.000000,0.100000,61.000000,119.413713,133.813264,114.000000,99.176952,...,10.000000,5.000000,6247.000000,6354.000000,6410.000000,6431.000000,6041.000000,4210.000000,4762.000000,0.000000
max,3847.000000,3423.000000,0.730000,405.000000,0.530000,230.000000,599.742840,1166.860679,718.491201,208.681633,...,10.000000,5.000000,6969.000000,6970.000000,6973.000000,6976.000000,6974.000000,6662.000000,6957.000000,0.352025

# Export Dataframe to Excel

In [36]:
m_df.to_excel('clean_1620.xlsx', index=False)

And that concludes the data cleaning for the SIMD dataset.